@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.header {
  background-color: #77af51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-esquerda {
  height: 30px;
  display: block;
  border: none;
  outline: none;
}

.logo-esquerda:focus {
  outline: none;
  box-shadow: none;
}

.home-icon {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.icone {
  font-size: 35px;
  color: white;
}

.titulo-central-box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.titulo-central-texto {
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  color: white;
}

@media (max-width: 600px) {
  .header {
    padding: 15px 10px;
  }
  .titulo-central-texto {
    font-size: 1.3rem;
  }
  .icone {
    font-size: 30px;
  }
  .home-icon {
    font-size: 26px;
  }
}

.esquerda-box {
  display: flex;
  align-items: center;
}
