

.filtro-wrapper {
  
  background-color: aquamarine;
  
}

.filtro-container-date {
  background-color: #1579dd;
  border-radius: 8px;
  margin-left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  
}

.filtro-item {
  padding: 4px;
}

.botao-pesquisar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
}

.botao-pesquisar-btn {
  padding-left: 32px;
  padding-right: 32px;
  min-height: 56px;
  white-space: nowrap;
}


@media (max-width: 900px) {
  .filtro-wrapper {
    width: 90%;
    margin: 5% auto 0;
  }

  .filtro-container {
    width: 100%;
    justify-content: center;
  }

  .filtro-item,
  .botao-pesquisar {
    width: 100% !important;
    justify-content: center !important;
    padding: 8px 0;
  }

  .botao-pesquisar-btn {
    width: 100%;
  }

  .saldo-topo {
    display: none !important;
  }

  .data-inicial {
    order: 2;
  }

  .data-final {
    order: 3;
  }

  .botao-pesquisar {
    order: 4;
  }
}
