
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #77af51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo-esquerda {
    height: 30px;
    margin-top: 10px;
  }
  
  /* Esconder a logo da esquerda em telas menores que 600px */
  @media (max-width: 600px) {
    .logo-esquerda {
      display: none;
    }
  }

  @media (min-width: 600px) {
    .logo-meio {
      display: none;
    }
  }
  
  .logo-meio {
    height: 30px;
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  
  
  h1{
    font-weight: 400;
    font-size: 25px;
    margin-top: 0%;
    margin-bottom: 0%;

  }

 